<div class="card">
    <div class="card-body">
        <div class="card-body-left">
            <div class="card-image" style="background-image: url('{{beer.image}}');">
            </div>
            <h5 class="card-title">{{beer.beer.name}}</h5>
            <p class="card-text">{{beer.beer.style}}</p>
        </div>
        <div class="card-body-right">
            <div class="card-alcohol">
                <div class="card-alcohol-text">
                    <div>
                        <h5 style="display: inline;" [countUp]="(+beer.beer.abv)*100">0</h5>
                        <h5 style="display: inline;">%</h5>
                    </div>
                    <p>alcohol</p>
                </div>
                <div class="card-alcohol-quantity">
                </div>
            </div>
            <div class="card-quantity">
                <div class="card-quantity-text">
                    <h5>{{beer.beer.ounces}}</h5>
                    <p>ounces</p>
                </div>
            </div>
        </div>
    </div>
  </div>
