.card{
    height: 12rem;
    width: 12rem;
    border-radius: 5%;
    margin-bottom:0.3ng rem;
}

.card-body{
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    justify-content: space-between;
}

.card-image{
    width: 5rem;
    height: 5rem;
    border-radius: 5%;
    background-size: cover;
    margin-bottom:1rem;

}

.card-title{
    font-size: 0.85rem;
    margin-bottom: 0rem;
    color: #202020;
    display: block;
    width:5rem;

}



.card-text{
    font-size: 0.7rem;
    color: #7d7d7d;
    line-height: 1rem;
    
}

.card-alcohol{
    width: 3rem;
    height: 5rem;
    background-color: #eeeeee;
    border-radius: 5%;
    margin-bottom: 1rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-alcohol-quantity{
    position: absolute;
    bottom: 0;
    width: 3rem;
    height: 0rem;
    border-radius: 5%;
    background-color: #fdd835;
    animation-duration: 700ms;
    animation-name: quantity-grow;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-fill-mode: forwards;
}

@keyframes quantity-grow {
    from {
        height: 0rem; 
    }
    to {
        height: var(--target-height);
    }
}

.card-alcohol-text{
    z-index: 2;
}

.card-alcohol-text h5{
    margin: auto;
}

.card-alcohol-text p{
    line-height: 0.8rem;
    font-size: 0.8rem;
    color: #7d7d7d;
}

.card-quantity{
    width: 3rem;
    height: 3rem;
    background-color: #eeeeee;
    border-radius: 5%;
    align-items: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
}



.card-quantity-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.card-quantity-text h5{
    margin: auto;
    line-height:1rem;
}

.card-quantity-text p{
    margin: 0rem;
    font-size: 0.8rem;
    line-height:1rem;
    color: #7d7d7d;
}

