<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo.svg" width="80" height="40" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto;">
        <li class="nav-item active">
          <a class="nav-link" href="#">home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container header">
  <h1>Welcome to beerDb, an assorted collection of best beer across the globe.</h1>
</div>

<div class="bar">
  <input class="searchbar" type="text" title="Search" (keyup)="onKeyUpEvent($event)" [(ngModel)]="filter.beer.name">
  <div class="searchbutton">
    <img class="search" src="../assets/search.svg">
  </div>
</div>

<div class="container beer-cards-container">
  <ng-container *ngIf="filter.beer.name.length===0">
    <div *ngFor="let beer of beerListDetailed|paginate: { itemsPerPage: 20, currentPage: p }">
      <app-beer-card [beer]="beer"></app-beer-card>
    </div>
  </ng-container>
  <ng-container *ngIf="filter.beer.name.length>0">
    <div *ngFor="let beer of beerListDetailed|filterBy:filter| paginate: { itemsPerPage: 20, currentPage: p}">
      <app-beer-card [beer]="beer"></app-beer-card>
    </div>
  </ng-container>

</div>

<div class="container pagination">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

