.header{
    display: flex;
    flex-direction:row;
    justify-content:center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header h1{
    font-size: 1.5rem;
}

.bar{
    margin:0 auto;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;
    align-items: center;
    display: flex;
    flex-direction:row;
  }
  .bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }
  .bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
  }
  .searchbar{
    height:45px;
    border:none;
    width:525px;
    font-size:16px;
    outline: none;
    border-radius:30px;
    padding-left: 30px;
  }
  .searchbutton{
      width:50px;
      display: flex;
      flex-direction:row;
      align-items: center;
      justify-content:center;
      padding-right: 5px;
  }
  .search{
    height:20px;
  }

.beer-cards-container{
    margin-top:5rem;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap; */
    align-items: start;
	display: grid;
	grid-gap: 2.2rem;
	grid-template-columns: repeat(auto-fit, 12rem);
	justify-content: start;
    
}

.pagination{
    margin-top: 3rem;
    margin-bottom:3rem;
    display: flex;
    flex-direction:row;
    justify-content:center;    
}

.pagination /deep/ .ngx-pagination .current {
    background: #fdd835;
    color: #000000;
    border-radius: 10%;
  }