/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&display=swap');

html, body {
    font-family: 'Economica', sans-serif;
    background-color: #f8f9fa
}